.header2020 {
    background-image: url('./');
    height: 100vh;
    background-size: 100% ;
    background-repeat: no-repeat;
}
.welcome {
    top: 80%;
    left: 38%;
    text-align: center;
    color:white;
}
h2{
    font-size: 300%;
}